@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@400;700&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Sacramento&family=Spartan:wght@100&display=swap');

  
  :root{
      /*------------------------theme 1--------------------------*/
      --Dark-Blue1-theme1:hsl(222, 26%, 31%); /*main background*/
      --Dark-Blue2-theme1:hsl(223, 31%, 20%); /*toggle background, keypad background*/
      --Dark-Blue3-theme1:hsl(224, 36%, 15%); /*screen background*/
      --Dark-Blue4-theme1:hsl(225, 21%, 49%); /*key background*/
      --Dark-Blue5-theme1: hsl(224, 28%, 35%); /*key shadow*/
      --Red-theme1:hsl(6, 63%, 50%); /*key background, toggle*/
      --Dark-Red-theme1:hsl(6, 70%, 34%); /*key shadow*/
      --Orange-theme1:hsl(30, 25%, 89%); /*key background*/
      --Red-theme1: hsl(28, 16%, 65%); /*key background, toggle*/
      --Blue6-theme1:hsl(221, 14%, 31%);/*blue text*/
      --White-theme1:hsl(0, 0, 100%);/*white text*/
      /*------------------------theme 2--------------------------*/
    --Light-Gray-1-theme2:hsl(0, 0%, 90%); /*main-background*/
    --Light-Gray-2-theme2:hsl(0, 5%, 81%); /*toggle background, keypad background*/
    --Light-Gray-3-theme2:hsl(0, 0%, 93%); /*screen background, keypad background*/
    --Dark-Cyan-1-theme2:hsl(185, 42%, 37%); /*key background*/
    --Dark-Cyan-2-theme2:hsl(185, 58%, 25%); /*key shadow*/
    --Orange-theme2:hsl(25, 98%, 40%); /*key background, toggle*/
    --Dark-Orange-theme2:hsl(25, 98%, 40%); /*key background, toggle*/
    --Light-yellow-theme2:hsl(45, 7%, 89%); /*key background*/
    --Dark-Orange-2-theme2:hsl(35, 11%, 61%)    ; /*key background*/
    --Dark-yellow-theme2:hsl(60, 10%, 19%); /*yellow text*/
    --White-theme2:hsl(0, 0, 100%);/*white text*/
 /*------------------------theme 3--------------------------*/
 --Dark-Violet-1-theme3:hsl(268, 75%, 9%);/*main background*/
 --Dark-Violet-2-theme3:hsl(268, 71%, 12%);/*toggle background, keypad background, screen background*/
 --Dark-Violet-3-theme3:hsl(281, 89%, 26%);/*key background*/
 --Vivid-magenta-theme3:hsl(285, 91%, 52%);/*key shadow*/
 --Pure-cyan-theme3:hsl(285, 91%, 52%);/*key background, toggle*/
 --Soft-cyan-theme3:hsl(177, 92%, 70%);/*key shadow*/
 --Dark-Violet-4-theme3:hsl(268, 47%, 21%);/*key background*/
 --Dark-magenta-theme3: hsl(290, 70%, 36%);/*key shadow*/
 --Light-yellow-theme3: hsl(52, 100%, 62%);/*yellow text*/
 --Dark-Blue-theme3:hsl(198, 20%, 13%); /*blue text*/
 --White-theme3:hsl(0, 0, 100%);/*white text*/
  }

  *{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body{
    font-family: 'Spartan', sans-serif;
    font-size: 32px;
    margin: auto;
    background-color:var(--Dark-Blue1-theme1) ;
    border-style: box ;
    align-items: center;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    justify-content: space-between;
    /* height: 500px; */
    width: 450px;
    margin:auto;
    align-items: center;
  }


  .top{
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      align-items:center;
  }

  .calc{
    color: white;
  }

  .right-side{
    display: flex;
    justify-content: space-between;
  }

  .theme {
    color: white;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    margin: 22px 20px 0px 0px;
  }

  .toggle-bottom{
    display: inline-block;
    position: relative;
    background-color:var(--Dark-Blue2-theme1) ;
    padding: 2px 3px;
    border-radius: 20px;
    height: 20px;
    width: 55px;
    cursor: pointer;
    
  }

  .toggle-bottom input {
    position: absolute;
    z-index: 3;
    opacity: 0;
  }

  .toggle-bottom span {           /*circle*/
    height: 12px;
    width: 12px;
    line-height: 5px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 3px;
    appearance: none;
    /* transition: all 0.3s ease-in-out; */
    transition: 0.5s;
   
  }
  
  .toggle-bottom input[value="1"]:checked ~ span {
    background-color: red;
    left: 4px;
    
  }
  .toggle-bottom input[value="2"]:checked ~ span {
    background-color: red;
    left: 6px;
  }
  .toggle-bottom input[value="3"]:checked ~ span {
    background-color: red;
    left: 10px;
  }

  .screen input {
    display: inline;
    background-color: var(--Dark-Blue3-theme1);
    font-family: "Spartan", sans-serif;
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: right;
    border: none;
    height: 95px;
    width: 400px;
    opacity: 1;
  }

  .screen{
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      background-color: var(--Dark-Blue3-theme1);
      border-radius:10px;
      height: 100px;
      width: 400px;
      padding: 13px;
    color: white;
    overflow: hidden;
  }

  .main-calculator{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 10px;
    background-color:var(--Dark-Blue2-theme1) ;
    padding: 15px; 
    height: 330px;
    width: 400px;
  }

  .row{
      display: flex;
      justify-content: space-evenly;
      margin-top: 10px;
  }

  .row>button{
    cursor: pointer;
    height: 50px;
    width: 80px;
    border-radius: 10px;
    color:var(--Blue6-theme1);
    font-size: 25px;
    font-weight: 700;
    font-family: 'Spartan',serif;
    border-style: none;
  }
  
  .numbers{
      margin-right: 15px;
      box-shadow: 0px 3px 0px 0px var(--Dark-Blue5-theme1);
  }

  .operators{
    box-shadow: 0px 3px 0px 0px var(--Dark-Blue5-theme1);
  }

  .divide{
    margin-right: 15px;
  }


  .row-5{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

.row-5>button{
    cursor: pointer;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    color:white;
     font-size: 25px;
     font-weight: 700;
     font-family: 'Spartan', sans-serif;
     border-style: none;
     
}

.del{
    background-color: var(--Dark-Blue4-theme1);
    color: white;
    
}

.reset{
    background-color: var(--Dark-Blue4-theme1);
    margin-right: 5px;
    box-shadow: 0px 3px 0px 0px var(--Dark-Blue5-theme1);
}

.equal{
    background-color: hsl(6, 63%, 50%);
    box-shadow: hsl(25, 98%, 40%);
    margin-left: 5px;
    box-shadow: 0px 3px 0px 0px var(--Dark-Red-theme1);
    
}

