@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@400;700&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Sacramento&family=Spartan:wght@100&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  :root{
      /*------------------------theme 1--------------------------*/
      --Dark-Blue1-theme1:hsl(222, 26%, 31%); /*main background*/
      --Dark-Blue2-theme1:hsl(223, 31%, 20%); /*toggle background, keypad background*/
      --Dark-Blue3-theme1:hsl(224, 36%, 15%); /*screen background*/
      --Dark-Blue4-theme1:hsl(225, 21%, 49%); /*key background*/
      --Dark-Blue5-theme1: hsl(224, 28%, 35%); /*key shadow*/
      --Red-theme1:hsl(6, 63%, 50%); /*key background, toggle*/
      --Dark-Red-theme1:hsl(6, 70%, 34%); /*key shadow*/
      --Orange-theme1:hsl(30, 25%, 89%); /*key background*/
      --Red-theme1: hsl(28, 16%, 65%); /*key background, toggle*/
      --Blue6-theme1:hsl(221, 14%, 31%);/*blue text*/
      --White-theme1:hsl(0, 0, 100%);/*white text*/
      /*------------------------theme 2--------------------------*/
    --Light-Gray-1-theme2:hsl(0, 0%, 90%); /*main-background*/
    --Light-Gray-2-theme2:hsl(0, 5%, 81%); /*toggle background, keypad background*/
    --Light-Gray-3-theme2:hsl(0, 0%, 93%); /*screen background, keypad background*/
    --Dark-Cyan-1-theme2:hsl(185, 42%, 37%); /*key background*/
    --Dark-Cyan-2-theme2:hsl(185, 58%, 25%); /*key shadow*/
    --Orange-theme2:hsl(25, 98%, 40%); /*key background, toggle*/
    --Dark-Orange-theme2:hsl(25, 98%, 40%); /*key background, toggle*/
    --Light-yellow-theme2:hsl(45, 7%, 89%); /*key background*/
    --Dark-Orange-2-theme2:hsl(35, 11%, 61%)    ; /*key background*/
    --Dark-yellow-theme2:hsl(60, 10%, 19%); /*yellow text*/
    --White-theme2:hsl(0, 0, 100%);/*white text*/
 /*------------------------theme 3--------------------------*/
 --Dark-Violet-1-theme3:hsl(268, 75%, 9%);/*main background*/
 --Dark-Violet-2-theme3:hsl(268, 71%, 12%);/*toggle background, keypad background, screen background*/
 --Dark-Violet-3-theme3:hsl(281, 89%, 26%);/*key background*/
 --Vivid-magenta-theme3:hsl(285, 91%, 52%);/*key shadow*/
 --Pure-cyan-theme3:hsl(285, 91%, 52%);/*key background, toggle*/
 --Soft-cyan-theme3:hsl(177, 92%, 70%);/*key shadow*/
 --Dark-Violet-4-theme3:hsl(268, 47%, 21%);/*key background*/
 --Dark-magenta-theme3: hsl(290, 70%, 36%);/*key shadow*/
 --Light-yellow-theme3: hsl(52, 100%, 62%);/*yellow text*/
 --Dark-Blue-theme3:hsl(198, 20%, 13%); /*blue text*/
 --White-theme3:hsl(0, 0, 100%);/*white text*/
  }

  body{
    font-family: 'Spartan', sans-serif;
    font-size: 32px;
    margin: auto;
    background-color:var(--Dark-Blue1-theme1) ;
    border-style: box ;
  }
  

  .container{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .top{
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items:center;
  }

  .calc{
      margin-right: 200px;
      color: white;
      font-weight: 700;
      font-size: 25px;
  }

  .top-right{
      display: flex;
      align-items: flex-end;
  }

  .theme{
      margin-right: 15px;
      font-size: 10px;
      color: white;
  }

  .toggle{
    display: flex;
   justify-content: center;
    flex-direction: column
    ;
  }

  .states{
      display: flex;
      justify-content: center;
    flex-direction: row;
  }

  .toggle-bottom{
      border-radius: 10px;
      background-color:var(--Dark-Blue2-theme1) ;
      height: 10px;
      width: 60px;
  }

  .top-calculator{
      background-color:var(--Dark-Blue3-theme1) ;
      border-radius: 10px;
      height: 100px;
      width: 400px;
  }

  .main-calculator{
      margin-top: 20px;
      border-radius: 10px;
      background-color:var(--Dark-Blue2-theme1) ;
      padding: 15px;
     
  }

  .row-1{
      display: flex;
      justify-content: space-between;
      
  }

  .row-2{
    display: flex;
    justify-content: space-between; 
    margin-top: 10px;
  }

  .row-3{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .row-4{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .row-5{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  
 .row-1>button,.row-2>button,.row-3>button,.row-4>button{
     cursor: pointer;
     height: 50px;
     width: 80px;
     border-radius: 10px;
     color:var(--Blue6-theme1);
     font-size: 25px;
     font-weight: 700;
     font-family: 'Spartan',serif;
     
 }



.row-5>button{
    cursor: pointer;
    height: 50px;
    width: 48%;
    border-radius: 10px;
    color:white;
     font-size: 25px;
     font-weight: 700;
     font-family: 'Spartan', sans-serif;
     
}


.del{
    background-color: var(--Dark-Blue4-theme1);
    color: white;
    
}

.reset{
    background-color: var(--Dark-Blue4-theme1);
}

.equal{
    background-color: hsl(6, 63%, 50%);
    box-shadow: hsl(25, 98%, 40%);
    
}

